# SPheroidal Light Trapping Photovoltaics

This notebook is dedicated to the analysis of data acquired during my Bachelor's dissertation at IST titled "Optical Optimization of Nanopatterned Perovskite Solar Cells". You can find the full repository here: [GitHub – sp-lt-pv](https://github.com/e4m8ch/sp-lt-pv).

This work was based on:

> Haque, S., Alexandre, M., Baretzky, C., Rossi, D., De Rossi, F., Vicente, A. T., Brunetti, F., Águas, H., Ferreira, R. A. S., Fortunato, E., Auf der Maur, M., Würfel, U., Martins, R., & Mendes, M. J. (2022). *Photonic-structured perovskite solar cells: Detailed optoelectronic analysis*. **ACS Photonics, 9**(7), 2408–2421. [https://doi.org/10.1021/acsphotonics.2c00446](https://doi.org/10.1021/acsphotonics.2c00446)

In [10]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Path to the data file. Current path is the default for this repository
path = "../docs/RAW_DATA.xlsx"

# Absorption Data

In [11]:
# Create dataframe with the first sheet of the .xlsx file, corresponding to the absorption data
df_abs = pd.read_excel(path, sheet_name="Absorption")

df_abs_am15 = df_abs.filter(like="AM15")  # all columns containing "AM15"
df_abs_am0 = df_abs.filter(like="AM0")   # all columns containing "AM0"

# Plotting the data

# Convergence Testing

In [12]:
# Create dataframe with the convergence data
df_con = pd.read_excel(path, sheet_name="Convergence")

df_con.head(5)

,GlobalMesh_X,GlobalMesh_Y,GlobalMesh_t,PML_X,PML_Y,PML_t,XYMesh_X,XYMesh_Y,XYMesh_t,ZMesh_X,ZMesh_Y,Z Mesh_t
0,1.0,258.319,18.0,8,264.484,77,4.0,265.640,220.0,4.0,266.620,450.0
1,2.0,264.477,91.0,9,264.485,88,5.0,268.124,351.0,5.0,266.880,553.0
2,3.0,265.605,281.0,10,264.485,74,6.0,268.305,579.0,6.0,266.261,634.0
3,4.0,265.536,712.0,11,264.477,74,7.0,268.623,759.0,7.0,267.667,725.0
4,5.0,265.997,1364.0,12,264.477,74,8.0,268.224,1037.0,8.0,267.753,861.0

# Polarization

In [13]:
df_pol = pd.read_excel(path, sheet_name="Polarization")

df_pol.head(5)

,AM15Angle,Unnamed: 1,AM15S,Unnamed: 3,AM15P,Unnamed: 5,AM15Dir,Unnamed: 7,AM0Angle,Unnamed: 9,AM0S,Unnamed: 11,AM0P,Unnamed: 13,AM0Dir,Unnamed: 15
0,0,258.166,0.0,258.395,0.0,258.166,0.0,258.166,0,317.136,0.0,318.290,0.0,317.130,0.0,317.618
1,10,258.001,10.0,258.560,10.0,258.001,5.0,260.907,10,316.933,10.0,318.493,10.0,316.926,10.0,311.725
2,20,257.870,20.0,258.692,20.0,257.870,10.0,257.613,20,316.824,20.0,318.602,20.0,316.819,20.0,305.393
3,30,257.788,30.0,258.770,30.0,257.788,15.0,256.321,30,316.824,30.0,318.601,30.0,316.868,30.0,299.152
4,40,257.765,40.0,258.794,40.0,257.765,20.0,257.337,40,316.931,40.0,318.498,40.0,317.003,40.0,253.907

# Parametric Analysis

In [14]:
df_par_geo = pd.read_excel(path, sheet_name="Parametric")
df_par_lay = pd.read_excel(path, sheet_name="Layers")

df_par_lay.head(5)

,AM15Au_X,AM15Au_Y,AM15NiO_X,AM15NiO_Y,AM15ZnO_X,AM15ZnO_Y,AM15ITO_X,AM15ITO_Y,AM0Au_X,AM0Au_Y,AM0NiO_X,AM0NiO_Y,AM0ZnO_X,AM0ZnO_Y,AM0ITO_X,AM0ITO_Y
0,1.600000e-07,267.862,8.000000e-09,267.754,8.000000e-08,270.081,2.800000e-07,271.055,1.600000e-07,313.098,8.000000e-09,315.653,8.000000e-08,319.806,2.800000e-07,319.933
1,1.688890e-07,267.840,8.444440e-09,267.338,8.444440e-08,269.320,2.955560e-07,270.217,1.688890e-07,314.376,8.444440e-09,319.438,8.444440e-08,320.265,2.955560e-07,319.884
2,1.777780e-07,268.164,8.888890e-09,267.322,8.888890e-08,268.596,3.111110e-07,269.414,1.777780e-07,315.495,8.888890e-09,317.730,8.888890e-08,318.390,3.111110e-07,318.550
3,1.866670e-07,268.284,9.333330e-09,267.899,9.333330e-08,269.232,3.266670e-07,268.854,1.866670e-07,316.534,9.333330e-09,319.400,9.333330e-08,318.762,3.266670e-07,318.494
4,1.955560e-07,268.385,9.777780e-09,268.005,9.777780e-08,269.010,3.422220e-07,266.834,1.955560e-07,317.471,9.777780e-09,319.059,9.777780e-08,318.453,3.422220e-07,318.785